body {
    font-family: Arial;
    font-size: 23px;
}

.ToDoInput {
    font-size: 20px;
    padding: 10px 0px 10px 10px;
}

.DateInput {
     font-size: 20px;
     padding: 10px;
}

.AddButton {
    font-size: 20px;
    font-weight: bold;

    padding: 10px 25px;
    margin: 0px 0px 0px 25px;
    background-color: rgb(134, 223, 0);
    color: white;

    
    
    
}

.InputList, .List {
    margin-top: 18px;
    display: grid;
    column-gap: 15px;
    row-gap: 15px;
    grid-template-columns: 280px 183px 150px;
    grid-template-rows: 50px;
    align-items: center;
}

.DeleteTask {
    font-size: 20px;
    font-weight: bold;

    padding: 10px 25px;
    margin: 0px 0px 0px 25px;
    background-color: rgb(223, 15, 0);
    color: white;
}